{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block content %}

<h1>Conditions générales d'utilisation</h1>



    <div>
        <h2>Mentions Légales</h2>
            <p>Ce site n'agit pas à titre professionnel. 
            Il s'agit d'un site créé par des étudiants dans le cadre de leur formation professionnalisante auprès de l'école de Développement O'Clock.</p>
            <p>Les informations inscrites dans les profils utilisateurs sont donc totalement fictifs. Toute vraisemblable avec des personnes existantes serait fortuite.</p>
            <p> S'agissant d'un site personnel ayant un but uniquement éducatif, il n'est donc pas soumis à l'obligation de disposer de Conditions Générales d'Utilisation.</p>
    </div>


    

    <div>
        <p>Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part, ostan.com, ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.
        Toute connexion au site est subordonnée au respect des présentes conditions.</p>

        <p>Pour l’utilisateur, le simple accès au site de l’EDITEUR aux adresses URL suivante https://www.ostan.com/ et https://www.ostan.com/ implique l’acceptation de l’ensemble des conditions décrites ci-après.</p>
    </div>


    <div>
        <h2>Propriété intellectuelle</h2>
            <p>La structure générale du site ostan.com , ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site ostan.com , par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de ostan.com et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.</p>
    </div>


    <div>
        <h2>Liens Hypertexte</h2>
            <p>Le site ostan.com peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site ostan.com</p>

            <p>Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’EDITEUR. Aucune autorisation ou demande d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. Cependant, l’EDITEUR se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site ostan.com. Si vous constatez un lien qui ne correspondrait pas à l'esprit du site ostan.com, merci d'en avertir l'éditeur par le <a href="{{path ('contact')}}"> formulaire de contact</a> dédié </p>
    </div>

    <div>
        <h2>Responsabilités de l'éditeur</h2>
            <p>Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.
            Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.</p>

            <p>L’EDITEUR se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.
            Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.</p>

            <p>Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.</p>

            <p>La mise à disposition, l’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que l’EDITEUR puisse être recherché à ce titre, et sans recours contre ce dernier.</p>

            <p>L’EDITEUR ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.</p>

            <p>Tout utilisateur ne respectant pas la charte du site pourra se voir exclure du site, ainsi que voir sa/ses publications suspendues ou supprimées</p>
    </div>


    <div>
        <h2>Accès au site</h2>
            <p>L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de l’EDITEUR, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.</p>

            <p>Par conséquent, l’EDITEUR ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.</p>

            <p>La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.</p>

            <p>Par ailleurs, l’EDITEUR peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que l’EDITEUR ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.</p>
    </div>

    <div>
        <h2>Modification des conditions d'utilisation</h2>
        
        <p>L’EDITEUR se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.</p>
    </div>

    <div>
        <h2>Regles d'usage d'internet</h2>
            <p>L’utilisateur déclare accepter les caractéristiques et les limites d’Internet, et notamment reconnaît que :</p>

            <p>L’EDITEUR n’assume aucune responsabilité sur les services accessibles par Internet et n’exerce aucun contrôle de quelque forme que ce soit sur la nature et les caractéristiques des données qui pourraient transiter par l’intermédiaire de son centre serveur.</p>

            <p>L’utilisateur reconnaît que les données circulant sur Internet ne sont pas protégées notamment contre les détournements éventuels. La présence du logo ostan institue une présomption simple de validité. La communication de toute information jugée par l’utilisateur de nature sensible ou confidentielle se fait à ses risques et périls.</p>

            <p>L’utilisateur reconnaît que les données circulant sur Internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété.</p>

            <p>L’utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur Internet.</p>

            <p>L’utilisateur reconnaît que l’EDITEUR ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles sur Internet</p>
    </div>

    <div>
        <h2>Droit applicable</h2>
            <p>Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.</p>
    </div>


{% endblock %}