{% extends 'base.html.twig' %}

{% block title %}Le concept O'Stan !{% endblock %}

{% block content %}

<h1 class="text-center font-weight-bold"> Le concept O'Stan !</h1>

<section class="text-center">

    <article>

        <p>
            Vous êtes <span class="font-weight-bold">illustrateur</span> de bandes dessinées, amateur ou professionnel, et vous souhaitez participer à de nouveaux projets ?
        </p> 
        <p>
            Vous êtes <span class="font-weight-bold">auteur</span> de bandes dessinées ou d'histoires (de romans, de nouvelles), amateur et professionnel, et vous souhaitez adapter celles-ci en bandes dessinées ou romans graphiques ?
        </p> 
        <p>
            Vous êtes une <span class="font-weight-bold">maison d'édition</span> et vous souhaitez découvrir de nouveaux talents et de nouveaux projets ?
        </p>
        <p>
            Si vous vous reconnaissez, ce site est fait pour vous !
        </p>

    </article>

    <article>
        <p> 
            Le concept du site O'Stan est simple et aussi novateur dans le milieu de la bande dessinée :
        </p> 
        <p class="text-uppercase font-weight-bold">
            Faciliter la mise en relation de passionnés du "neuvième art" qu'ils soient illustrateurs, auteurs ou maisons d'édition !
        </p> 
        
        <p> 
            Ce site va permettre de voir émerger de <span class="font-weight-bold">nouveaux projets</span>, de <span class="font-weight-bold">nouvelles collaborations</span> et de <span class="font-weight-bold">nouveaux talents</span> autour de la bande dessinées !
        </p>
    </article>

</section>

<section>

<section class="mt-5 col-4">

    <article class="mx-3">
        <div class="d-flex flex-row">
                <div class="mask-2 mr-3">
                    <img src="{{ asset('images/marvel.jpg') }}" class="profil-avatar-2 rounded-circle">
                </div>
                <div class="d-flex flex-column">
                    <h5 class="font-weight-bold mr-3">
                        coucou
                    </h5>
                    <p>
                        coucou
                    </p>
                </div>
        </div>
    </article>

        <article class="mx-3">
        <div class="d-flex flex-row">
                <div class="mask-2 mr-3">
                    <img src="{{ asset('marvel.jpg') }}" class="profil-avatar-2 rounded-circle">
                </div>
                <div class="d-flex flex-column">
                    <h5 class="font-weight-bold mr-3">
                        coucou
                    </h5>
                    <p>
                        coucou
                    </p>
                </div>
        </div>
    </article>

        <article class="mx-3">
        <div class="d-flex flex-row">
                <div class="mask-2 mr-3">
                    <img src="{{ asset('marvel.jpg') }}" class="profil-avatar-2 rounded-circle">
                </div>
                <div class="d-flex flex-column">
                    <h5 class="font-weight-bold mr-3">
                        coucou
                    </h5>
                    <p>
                        coucou
                    </p>
                </div>
        </div>
    </article>

    <article class="mx-3">
        <div class="d-flex flex-row">
            <div class="mask-2 mr-3">
                <img src="{{ asset('marvel.jpg') }}" class="profil-avatar-2 rounded-circle">
            </div>
            <div class="d-flex flex-column">
                <h5 class="font-weight-bold mr-3">
                    coucou
                </h5>
                <p>
                    coucou
                </p>
            </div>
        </div>
    </article>

</section>




{% endblock %}