
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
     height: 100%;
}

.body {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    


}

.content {
    width: 65%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.header{
    background-color: rgb(214, 247, 152);
  height: 150px;
  display: flex;
  flex-direction: column;
 
}
.title {
    align-self: center;
    margin:auto;
}





/* PLAN DU SITE*/

#sitemap2 ul.tree li {
    margin: 0 0 0 2px;
    padding: 5px 0 0 22px;
    border-left: 1px solid black;
}

#sitemap2 ul.tree li a {
    color: black;
    text-decoration: none;
}

#sitemap ul.tree li {
    margin: 0 0 0 2px;
    padding: 5px 0 0 22px;
    border-left: 1px solid black;
}

#sitemap ul.tree li a{
    color: black;
    text-decoration: none;
}


#sitemap1 ul.tree li {
    margin: 0 0 0 2px;
    padding: 5px 0 0 22px;
    border-left: 1px solid black;
    display: list-item;
   
}
  

#sitemap1 ul.tree li a {
    color: black;
    text-decoration: none;
}


.title-card {
    position:relative;
    bottom: 50px;
    background-color:white;
}



footer {
    margin-top: auto;
}


