
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
     height: 100%;
}

.body {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;  
}

.content {
    width: 65%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.header{
    background-color: rgb(214, 247, 152);
  height: 150px;
  display: flex;
  flex-direction: column;
 
}
.title {
    align-self: center;
    margin:auto;
}

footer {
    margin-top: auto;
}

