html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
}
/*
.header {
    background-image: url('../images/marvel.jpg');
    opacity: 0.30;
}
*/
.tab-content{
  overflow-y: auto;
  overflow-x: auto;
}


.table-responsive {
  overflow-y: auto;
}
.userTable thead th{
  min-width: 150px;
}

.body {
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
a:hover,a:focus{
  outline: none;
  text-decoration: none;
}


/************ TABS BACKENDS ***********/
.nav-tabs{
  border-bottom: none;
  position: relative;
  margin: 10px 0 20px 5px;
}
.nav-tabs li{
  margin-right: 15px;
}
.nav-tabs li a{
  padding: 20px 15px;
  font-size: 17px;
  font-weight: 600;
  color: #25283d;
  border-radius: 0;
  text-transform: uppercase;
  margin-right: 0;
  border: none;
  position: relative;
  transition: all 0.5s ease 0s;
}
.nav-tabs li a:hover{
  background: #fff;
}
.nav-tabs li a:before{
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(0,0,0, 0.2);
  position: absolute;
  bottom: 5px;
  left: 0;
  transform: scale(0);
  transition: all 700ms ease 0s;
}
.nav-tabs li a:after{
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #54c2dd;
  margin: 0 auto;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: all 700ms ease 0s;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover{
    border: none;
    color: #4cc985;
}
.nav-tabs li a:hover:before,
.nav-tabs li.active a:before,
.nav-tabs li a:hover:after,
.nav-tabs li.active a:after{
    transform: scale(1);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: url("/images/bg.jpg");
  background-size: cover;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.header-title {
  align-self: center;
  margin: auto;
}
.image-gallery{
  width: 250px;
}

.profil-avatar {
  position: relative;
  top: 0px;
  margin: 0 auto;
  
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profil-avatar-2 {
  position: relative;
  top: 0px;
  margin: 0 auto;
  
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mask {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  top: 90px;
}

.mask-2 {
  width: 80px;
  height: 80px;

  overflow: hidden;
  border-radius: 50%;

  top: 90px;
}

.profil-card {
  width: 95%;
}

footer {
  margin-top: auto;
}
/* ****SIDEBAR**** */
.title-sidebar{
    font-weight: bold;
    font-weight: bold;
    text-align: center;
    margin: 15px 2px;
    text-shadow: 2px 2px 0px #d2d2d2;
    background: #dce4ea;
    padding: 5px;
    border-radius: 2px;
}
.sidebar{
    align-self: flex-start;
    box-shadow: 1px 1px 15px #4242425e;
}

/***** POSTS *****/
.title-card{
    position: relative;
    bottom: 40px;
    text-align: center;
    background: #fbf7bc;
    box-shadow: 0px 7px 6px #a5a5a566;

}
article{
    margin-left: 30px;
    border: lightgray;
    margin-top: 40px;
    border: 1px solid #b3b3b338;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 17px #c5b6b661;
}


/******* NAVBARS**** */
.nav-link {
 
  background-color: rgba(255, 255, 255, 0.719);
    margin: 5px;
    border: 2px solid aliceblue;
    border-radius: 4px;
    transition: 0.3s;
    color: black;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    background: #6e80b5;
    /* border: none; */
    border: 2px solid #6689a7;
    box-shadow: 0 0 4px 0px #00000078;
    
    color: white;    
}

.nav-link_home{
    color: black;
    text-decoration: none;
    margin-right: 15px;
    background: #cae8de36;
    padding: 6px;
    border-radius: 5px;
    transition: 0.2s
}

.nav-link_home:hover{
    text-decoration: none;
    color: #ffecec;
}

.nav-link_backend{
    text-decoration: none;
    color:rgb(206, 206, 206);
    margin-right:30px;
}
.nav-link_backend:hover{
    text-decoration: none;
    color:white;
}
.navbar_backend{
    margin-bottom: 10px;
    box-shadow: 0px 5px 7px 0px #b5b5b5;
}
.navbar_home{
    box-shadow: 0px 5px 7px 0px #b5b5b5cc;
    padding:10px;

}
/*********** PLAN DU SITE *****************/

.page-subheading {
  margin-left: 50px;
}

#sitemap {
  border: 1px solid grey;
  margin: 20px;
  border-radius: 10px;
  background-color: #eaecee;
}

#sitemap ul.tree li {
  margin: 0 0 0 10px;
  padding: 5px 0 0 0px;
  border-left: 1px solid black;
}

#sitemap ul.tree li a {
  color: black;
  text-decoration: none;
}



.tree {
  margin: 10px 0 10px 0;
}

/******* FORMULAIRE DE CONTACT ****************/

.contact-form {
  padding: 50px;
  border-radius: 10px;
  background-color: #eaecee;
  border: #abb2b9 1px solid;
  margin-top: 100px;
}

ul {
  list-style: none;
}

.contact-form-title {
  position: relative;
  top: -50px;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}


/******** PAGE 404 *****************/

.page404 {
  background-image: url('../images/lost404.calque.png');
  background-size: cover;
}

/********* GALERIE *********************/

.modal {
  z-index:1;
  display:none;
  padding-top:10px;
  position:static;
  left:0;
  top:0;
  width:100%;
  height:100%;
  /* overflow:auto; */
  /* background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8) */
  }
  
  .modal-cont{
  margin: auto;
  display: block;
      position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-30%, -30%);
  text-align: center;
  }
  
  
  .modal-hover-opacity {
  opacity:1;
  filter:alpha(opacity=100);
  /* -webkit-backface-visibility:hidden */
  }
  
  .modal-hover-opacity:hover {
  opacity:0.60;
  filter:alpha(opacity=60);
  /* -webkit-backface-visibility:hidden */
  }
  
  
  .close {
  text-decoration:none;float:right;font-size:24px;font-weight:bold;
  }
  .container1 {
  width:200px;
  display:inline-block;
  }
  .modal-cont, #caption {   
    
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
  }
  
  
  @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }


  /************ MESSAGERIE ***********/

   .message-detail {
    padding: 100px;
    border-radius: 10px;
    background-color: #eaecee;
    border: #abb2b9 1px solid;
    margin-top: 100px;
    width: 75%;
}

  .message-title {
    position: relative;
    top: -130px;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    text-align: center;
  }

  .message-response {
    border: #abb2b9 1px solid;
    border-radius: 10px;
    background-color: #eaecee;
    padding: 5px;
  }

  .message-response-title {
    border: #abb2b9 1px solid;
    border-radius: 10px;
    background-color: #eaecee;
    padding: 5px;
    text-align: center;
  }

  .message-author {
    font-style: italic;
    color: grey;
    text-align: center;
  }

  .message-option {
    text-align: center;
  }

  .message-user {
    padding: 100px;
    border-radius: 10px;
    background-color: #eaecee;
    border: #abb2b9 1px solid;
    margin-top: 100px;
    width: 75%;
  }


  .message-content {
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

 

  /***** bulle de message *****/
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
  background-color: white;
  box-shadow: 10px 5px 5px grey;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}


/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: center;
  line-height: 1.5em;
  margin: 2em;
 
}

/*** SHOW MESSAGE ****/

.send-bubble {
	margin: 40px;
  position: relative;
	width: 100%;
	height: auto;
  background-color: white;
  box-shadow: 10px 5px 5px grey;
}

.tri-right.btm-right-send:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0px;
	left: auto;
  right: 0px;
  top: auto;
	bottom: -20px;
	border: 22px solid;
  border-color: transparent transparent transparent white;
}

.bubble-send {
	margin: 40px;
  position: relative;
	width: 100%;
	height: auto;
  background-color: white;
  box-shadow: 10px 5px 5px grey;
  border: 1px solid red;
}


.tri-right.btm-left-response:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0px;
	left: 10px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
  border-color: transparent transparent transparent white;
}

.bubble-response {
	margin: 40px;
  position: relative;
	width: 100%;
	height: auto;
  background-color: white;
  box-shadow: 10px 5px 5px grey;
  border: 1px solid green;
}

/**** FIN MESSAGERIE ****/

.logo {
  width:11%;
}