{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur O'Stan !
{% endblock %}

{% block content %}

    <section class="presentation">
    <div>

        <div class="text-center">
            <h1 class="text-uppercase font-weight-bold border-bottom border-dark py-3 mx-5">Bienvenue sur O'Stan !</h1>
            <p class="py-3 px-3">Lorem ipsum ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur tempore atque quaerat ab? Ad aliquid minima laudantium sed! Velit eos suscipit earum iure provident, illum necessitatibus sequi quam vel modi eveniet libero ab sapiente eum at magni ratione ipsa perspiciatis.</p>
        </div>
        </div>
    </section>

    {# Boucle pour afficher la liste des articles de conseils qui sont en BDD #}
    {% for advice_post in advicePosts %}
    {# Le if vérifie qu'il s'agit bien d'article à afficher uniquement #}
        {% if advice_post.type == "Article" %}


            <article>

                <div class="title-card p-1">
                    <h2 class="font-weight-bold">{{ advice_post.title }}</h2>
                </div>

                <div
                    class="d-flex">

                    {# Picture 1 de préférence #}
                    <img class="mr-3 mb-3" src="https://via.placeholder.com/260x200" alt="">

                    <div class="">
                        <div>
                            <p>
                                {# truncate permet de réduire la taille du contenu du contenu de l'article et ajouter "..." après #}
                                {{ advice_post.description|truncate(200, true) }}
                            </p>
                        </div>

                        <div>
                            <a class="btn btn-elegant" href="{{ path('advice_post_show', {'id': advice_post.id }) }}">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>

                <div class="metadata mb-3 font-italic text-muted d-flex justify-content-end">
                    <span>Publié le
                        {{ advice_post.createdAt | date('d/m/Y à H:i') }}</span>
                </div>

            </article>
        {% endif %}

    {% endfor %}

{% endblock %}
