{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <section>
    <h1 class="text-center text-uppercase">Bienvenue sur O'Stan</h1>
    </section>



    {# Boucle pour afficher la liste des articles de conseils qui sont en BDD #}
    {% for advice_post in advicePosts %}

        <article class="jumbotron mb-4 py-3 px-3 text-center">

            <h2>{{ advice_post.title }}</h2>

            <div class="metadata mb-3 font-italic">
                Ecrit le {{ advice_post.createdAt | date('d/m/Y à H:i') }}
            </div>

            <div class="content">
                <a href="{{ path('advice_post_show', {'id': advice_post.id }) }}" class="btn btn-primary">
                    Lire la suite ...
                </a>
            </div>

        </article>

    {% endfor %}

{% endblock %}