{% extends 'base.html.twig' %}

{% block title %}Modifier un Tag{% endblock %}

{% block body %}
    <h1>Modifier un Tag</h1>

    {{ include('backend/tag/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('backend/tag/_delete.html.twig') }}


    

    <a href="{{ path('backend_tagList') }}" class="btn btn-primary">Retour à la liste</a>

    
{% endblock %}