{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block content %}

    {{ include('message/_form.html.twig', {'button_label': 'Créer un nouveau message'}) }}

    <a class="btn btn-primary" href="{{path('message') }}">Retour à la messagerie</a>

{% endblock %}