{% extends 'base_backend.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content
 %}
 <h1>Les annonces</h1>
  {% for adPost in adPosts %}
 <h3>{{adPost.title}}</h3>
 <p>{{adPost.description}}</p>
 <p>par {{adPost.user.firstname}}</p>
     
 {% endfor %}
 
 
 {% endblock %}
 
