{% extends 'base_backend.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content
 %}
 <h1>Les annonces</h1>
  {% for post in posts %}
 <h3>{{post.title}}</h3>
 <p>{{post.description}}</p>
 <p>par {{post.user.firstname}}</p>
     
 {% endfor %}
 
 
 {% endblock %}
 
