{% extends 'base_backend.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content
 %}
 <h1>Les articles</h1>

 {% for advicePost in advicePosts %}
 <h3>{{advicePost.title}}</h3>
 <p>{{advicePost.description}}</p>
     
 {% endfor %}
{% endblock %}